/* .display-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.editname-item {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  margin-bottom: 1rem;
}

.editname-item p {
  margin: 2rem;
}

.data-item {
  background-color: #fff;
  color: black;
  margin-left: 2rem;
} */

.input-wrapper-welcomeback {
  display: flex;
  flex-direction: row;
  text-align: left;
  /* margin-bottom: 1rem; */
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
}
.input-wrapper-welcomeback label {
  font-weight: bold;
  margin-right: 1rem;
}

.input-wrapper-welcomeback input {
  padding: 5px;
  font-size: 1.2rem;
}

.readonly {
  background-color: rgb(193 190 190);
  cursor: not-allowed;
  color: rgba(63, 63, 63, 0.651);
}

.edit-button-margin-right {
  margin-right: 1rem;
}
